<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KQX5FDFY5F');

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создание договоров</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
        .button-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* Добавляем перенос элементов */
        }

        .form-group {
            margin-right: 10px;
            margin-bottom: 10px; /* Добавляем отступ снизу */
        }

        /* Дополнительный стиль для последней строки */
        .button-container::after {
            content: "";
            flex: auto;
        }
    </style>
    <style>
        #loading-indicator {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(240, 240, 240, 0.5);
            padding: 100%;
            border-radius: 10px;
            text-align: center;
            z-index: 1000;
        }

        #loading-indicator .loader {
            border: 8px solid #3498db; /* Цвет круга */
            border-top: 8px solid #f1c40f; /* Цвет круга при анимации */
            border-radius: 50%;
            width: 70px; /* Размер круга */
            height: 70px; /* Размер круга */
            animation: spin 1s linear infinite;
            margin-bottom: 10px;
        }

        #loading-indicator p {
            font-size: 20px; /* Размер текста */
            color: #333; /* Цвет текста */
            margin: 0;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body style="background-image: linear-gradient(to bottom, #FCFDFC, #CCE9FF, #000000);">
{% include 'menu.html' %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<div id="loading-indicator">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Заполняются поля...</span>
    </div>
    <p>Заполняются поля...</p>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-auto">
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="15" height="15" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="15" height="15" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["info"]) %}
            {% if messages %}
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="15" height="15" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <form action="{{ url_for('manager.create_application') }}" method="POST">
                        <div class="mb-3">
                            <h5 class="card-header"><i class="fa-solid fa-circle-info fa-xs"
                                                       style="color: #8f8f8f;"></i> Заполнение БКИ юр. лица
                            </h5>
                        </div>
                        <div class="mb-3">
                            <label>Контрагент (введите ИНН либо название компании)</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input1" type="text" name="client_inn" value="" class="form-control"
                                       maxlength="100" required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите полное наименование контрагента</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input2" type="text" name="full_name_ur" value="" class="form-control"
                                       maxlength="200" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите ОГРН контрагента</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input3" type="text" name="ogrn_ur" value="" class="form-control"
                                       oninput="validatePassportSeries(this)" maxlength="13" minlength="13">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите адрес контрагента</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input4" type="text" name="address_ur" value="" class="form-control"
                                       maxlength="150">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите телефон контрагента</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input5" type="text" name="phone_ur" value="" class="form-control"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите полное ФИО подписанта контрагента в родительном падеже</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input6" type="text" name="fio_signatory_ur" value="" class="form-control"
                                       placeholder="Краснова Сергея Ивановича" maxlength="50">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите наименование должности подписанта контрагента в родительном падеже</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input7" type="text" name="position_signatory_ur" value=""
                                       class="form-control"
                                       placeholder="Директора/Генерального директора"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>На основании каких полномочий будет подписание</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input8" type="text" name="status_signatory_ur" value="" class="form-control"
                                       placeholder="Устава/Доверенности № ... от дата"
                                       maxlength="50">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Дата заполнения заявки</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="input9" type="date" name="date_zayvka_ur" value="" class="form-control">
                            </div>
                        </div>
                        <div class="button-container">
                            <div class="form-group">
                                <button type="submit" id="submit-button1" class="btn btn-outline-primary btn-block"
                                        disabled>
                                    Скачать БКИ
                                </button>
                            </div>
                        </div>
                    </form>
                    <form action="" method="POST">
                        <div class="mb-3">
                            <h5 class="card-header"><i class="fa-solid fa-circle-info fa-xs"
                                                       style="color: #8f8f8f;"></i> Заполнение БКИ физического лица (ИП/КФХ)
                            </h5>
                        </div>
                        <div class="mb-3">
                            <label>ИНН физического лица</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="inputFiz1" type="text" name="inn_fiz" value="" class="form-control"
                                       oninput="validatePassportSeries(this)" maxlength="12" minlength="12" required>
                                <button id="autofillButtonFiz" type="button" class="btn btn-primary">Автозаполнение
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите полное ФИО физического лица</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="inputFiz2" type="text" name="client_fio" value="" class="form-control"
                                       maxlength="50" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label>Введите серию паспорта</label>
                                    <div class="input-group input-group-sm mb-3">
                                        <input id="inputFiz3" type="text" name="series" value=""
                                               class="form-control" oninput="validatePassportSeries(this)"
                                               maxlength="4" minlength="4"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label>Введите номер паспорта</label>
                                    <div class="input-group input-group-sm mb-3">
                                        <input id="inputFiz4" type="text" name="number" value="" class="form-control"
                                               oninput="validatePassportSeries(this)" maxlength="6" minlength="6"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label>Кем выдан паспорт</label>
                                    <div class="input-group input-group-sm mb-3">
                                        <input id="inputFiz5" type="text" name="who_issued" value=""
                                               class="form-control"
                                               maxlength="100" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label>Дата выдачи паспорта</label>
                                    <div class="input-group input-group-sm mb-3">
                                        <input id="inputFiz6" type="date" name="date_issued" value=""
                                               class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Код подразделения</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="inputFiz7" type="text" name="code_passport" value="" class="form-control"
                                       maxlength="10" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Место рождения</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="inputFiz8" type="text" name="location_birth" value="" class="form-control"
                                       maxlength="100" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Дата рождения</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="inputFiz9" type="date" name="fio_birth" value="" class="form-control"
                                       required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Адрес регистрации физического лица</label>
                            <div id="one_string">
                                <div class="input-group input-group-sm mb-3">
                                    <input id="inputFiz10" type="text" name="address" value="" placeholder="Адрес"
                                           class="form-control" maxlength="100" required/>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Дата заполнения заявки</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="inputFiz11" type="date" name="date_zayvka_fiz" value="" class="form-control"
                                       required>
                            </div>
                        </div>
                        <div class="button-container">
                            <div class="form-group">
                                <button type="submit" id="submit-button_fiz" class="btn btn-outline-primary btn-block"
                                        disabled>
                                    Скачать заявку по физ. лицу ООО "ЛКМБ-РТ"
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    <!--    после ввода ИНН парсит все данные в дадата и вставляет их в поля-->
            $(document).ready(function() {
                $('#autofillButton').click(function() {
                    var data = $('#input1').val();
                    $.ajax({
                        url: './autofill',
                        type: 'POST',
                        data: {'data': data},
                        success: function(response) {
                        $('#input2').val(response.data1);
                        $('#input3').val(response.data2);
                        $('#input4').val(response.data3);
                        $('#input5').val(response.data8);
                        $('#input6').val(response.data4);
                        $('#input7').val(response.data5);
                        $('#input8').val(response.data6);
                        $('#input9').val(response.data7);
                    }
                    });
                });
            });
        <!--при нажатии на кнопку "Скачать заявку ООО "ЛКМБ-РТ"" парсит данные с сайта и скачивается заявка в ворде-->
        $(document).ready(function() {
            $('#submit-button1').click(function() {
                var bkiurLkmb1 = $('#input1').val();
                var bkiurLkmb2 = $('#input2').val();
                var bkiurLkmb3 = $('#input3').val();
                var bkiurLkmb4 = $('#input4').val();
                var bkiurLkmb5 = $('#input5').val();
                var bkiurLkmb6 = $('#input6').val();
                var bkiurLkmb7 = $('#input7').val();
                var bkiurLkmb8 = $('#input8').val();
                var bkiurLkmb9 = $('#input9').val();
                $.ajax({
                    url: './submit_form_ur',
                    type: 'POST',
                    data: {'data': bkiurLkmb1,
                           'data1': bkiurLkmb2,
                           'data2': bkiurLkmb3,
                           'data3': bkiurLkmb4,
                           'data4': bkiurLkmb5,
                           'data5': bkiurLkmb6,
                           'data6': bkiurLkmb7,
                           'data7': bkiurLkmb8,
                           'data8': bkiurLkmb9},
                    success: function(response) {
                        // Предполагается, что сервер вернул ссылку на скачивание в переменной response.downloadLink
                        var downloadLink = response.downloadLink;

                        // Создаем скрытую ссылку для скачивания
                        var link = document.createElement('a');
                        link.href = '/static/temporary/БКИ ' + bkiurLkmb2.replace(/"/g, '') + '.docx';  // Вставляем значение из bkiurLkmb2
                        link.download = 'БКИ ' + bkiurLkmb2.replace(/"/g, '') + '.docx';  // Вставляем значение из bkiurLkmb2
                        document.body.appendChild(link);

                        // Имитируем клик по ссылке для начала скачивания
                        link.click();

                        // Удаляем временную ссылку
                        document.body.removeChild(link);
                    }
                });
            });
        });
        <!--не дает странице обновиться при нажатии на кнопку "Скачать заявку ООО "ЛКМБ-РТ""-->
        document.getElementById("submit-button1").addEventListener("click", function(event) {
                event.preventDefault();
            });
        <!--    делает неактивной кнопку "Скачать заявку ООО "ЛКМБ-РТ" при незаполненных данных. Срабатывает каждую секунду-->
            $(document).ready(function() {
            $('#submit-button1').prop('disabled', true);

            setInterval(function() {
                if ($('#input1').val() !== '' && $('#input2').val() !== '' && $('#input3').val() !== ''
                && $('#input4').val() !== '' && $('#input5').val() !== '' && $('#input6').val() !== ''
                && $('#input7').val() !== '' && $('#input8').val() !== '' && $('#input9').val() !== '') {
                    $('#submit-button1').prop('disabled', false);
                } else {
                    $('#submit-button1').prop('disabled', true);
                }
            }, 1000);
        });

    <!--    Скрипты ниже работают по физику-->
        <!--    после ввода ИНН парсит все данные в дадата и вставляет их в поля-->
            $(document).ready(function() {
                $('#autofillButtonFiz').click(function() {
                    var fiz1 = $('#inputFiz1').val();
                    $.ajax({
                        url: './autofillfiz',
                        type: 'POST',
                        data: {'data': fiz1},
                        success: function(response) {
                        $('#inputFiz2').val(response.data1);
                        $('#inputFiz3').val(response.data2);
                        $('#inputFiz4').val(response.data3);
                        $('#inputFiz5').val(response.data4);
                        $('#inputFiz6').val(response.data5);
                        $('#inputFiz7').val(response.data6);
                        $('#inputFiz8').val(response.data7);
                        $('#inputFiz9').val(response.data8);
                        $('#inputFiz10').val(response.data9);
                        $('#inputFiz11').val(response.data10);
                    }
                    });
                });
            });

        <!--при нажатии на кнопку "Скачать заявку ООО "ЛКМБ-РТ"" парсит данные с сайта и скачивается заявка в ворде-->
        $(document).ready(function() {
            $('#submit-button_fiz').click(function() {
                var bkifizLkmb1 = $('#inputFiz1').val();
                var bkifizLkmb2 = $('#inputFiz2').val();
                var bkifizLkmb3 = $('#inputFiz3').val();
                var bkifizLkmb4 = $('#inputFiz4').val();
                var bkifizLkmb5 = $('#inputFiz5').val();
                var bkifizLkmb6 = $('#inputFiz6').val();
                var bkifizLkmb7 = $('#inputFiz7').val();
                var bkifizLkmb8 = $('#inputFiz8').val();
                var bkifizLkmb9 = $('#inputFiz9').val();
                var bkifizLkmb10 = $('#inputFiz10').val();
                var bkifizLkmb11 = $('#inputFiz11').val();
                $.ajax({
                    url: './submit_form_fiz',
                    type: 'POST',
                    data: {'data': bkifizLkmb1,
                           'data1': bkifizLkmb2,
                           'data2': bkifizLkmb3,
                           'data3': bkifizLkmb4,
                           'data4': bkifizLkmb5,
                           'data5': bkifizLkmb6,
                           'data6': bkifizLkmb7,
                           'data7': bkifizLkmb8,
                           'data8': bkifizLkmb9,
                           'data9': bkifizLkmb10,
                           'data10': bkifizLkmb11},
                    success: function(response) {
                        // Предполагается, что сервер вернул ссылку на скачивание в переменной response.downloadLink
                        var downloadLink = response.downloadLink;

                        // Создаем скрытую ссылку для скачивания
                        var link = document.createElement('a');
                        link.href = '/static/temporary/БКИ ' + bkifizLkmb2 + '.docx';  // Вставляем значение из bkiurLkmb2
                        link.download = 'БКИ ' + bkifizLkmb2 + '.docx';  // Вставляем значение из bkiurLkmb2
                        document.body.appendChild(link);

                        // Имитируем клик по ссылке для начала скачивания
                        link.click();

                        // Удаляем временную ссылку
                        document.body.removeChild(link);
                    }
                });
            });
        });

        <!--не дает странице обновиться при нажатии на кнопку "Скачать заявку по физ лицу ООО "ЛКМБ-РТ""-->
        document.getElementById("submit-button_fiz").addEventListener("click", function(event) {
                event.preventDefault();
            });
        <!--    делает неактивной кнопку "Скачать заявку по физ лицу ООО "ЛКМБ-РТ" при незаполненных данных. Срабатывает каждую секунду-->
            $(document).ready(function() {
            $('#submit-button_fiz').prop('disabled', true);

            setInterval(function() {
                if ($('#inputFiz1').val() !== '' && $('#inputFiz2').val() !== '' && $('#inputFiz3').val() !== ''
                && $('#inputFiz4').val() !== '' && $('#inputFiz5').val() !== '' && $('#inputFiz6').val() !== ''
                && $('#inputFiz7').val() !== '' && $('#inputFiz8').val() !== '' && $('#inputFiz9').val() !== ''
                && $('#inputFiz10').val() !== '' && $('#inputFiz11').val() !== '') {
                    $('#submit-button_fiz').prop('disabled', false);
                } else {
                    $('#submit-button_fiz').prop('disabled', true);
                }
            }, 1000);
        });
</script>
<script>
    function validatePassportSeries(input) {
        // Заменяем все символы, кроме цифр, на пустую строку
        input.value = input.value.replace(/[^0-9]/g, '');
    }
</script>
<script>
    $(document).ready(function () {
        $("#inputFiz10").suggestions({
            token: "{{ suggestions_token }}",
            type: "ADDRESS",
            onSelect: function(suggestion) {
                console.log(suggestion);
            }
        });
    });
</script>
<script>
    $("#input1").suggestions({
        token: "{{ suggestions_token }}",
        type: "PARTY",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            var loadingIndicator = document.getElementById('loading-indicator');

            // Показываем индикатор загрузки
            if (loadingIndicator) {
                loadingIndicator.style.display = 'block';
            }

            $.ajax({
                url: './check_inn', // URL вашего серверного обработчика
                type: 'POST',
                data: {
                    inn: suggestion.data.inn,
                    director_name: suggestion.data.management.name,
                    director_position: suggestion.data.management.post
                }, // Отправляем ИНН на сервер
                success: function(response) {
                    // Если на сервере найдены данные в БД, заполняем поля из ответа
                    if (response.company_inn) {
                        $("#input1").val(response.company_inn);
                        $("#input2").val(response.company_name);
                        $("#input3").val(response.company_ogrn);
                        $("#input4").val(response.company_address);
                        $("#input5").val(response.company_phone);
                        $("#input6").val(response.signatory_name);
                        $("#input7").val(response.signatory_position);
                        $("#input8").val(response.signatory_basis);
                        $("#input9").val(response.today);
                    } else {
                        // Если ключ company_inn отсутствует в ответе, используем данные из suggestion.data
                        $("#input1").val(suggestion.data.inn);
                        $("#input2").val(suggestion.data.name.full_with_opf);
                        $("#input3").val(suggestion.data.ogrn);
                        $("#input4").val(suggestion.data.address.unrestricted_value);
                        $("#input6").val(response.dir_name);
                        $("#input7").val(response.dir_post);
                        $("#input8").val("Устава");
                        $("#input9").val(response.today);
                    }
                    $("#input9").val(response.today);

                    // Скрываем индикатор загрузки после завершения AJAX-запроса
                    if (loadingIndicator) {
                        loadingIndicator.style.display = 'none';
                    }
                },
                error: function(response) {
                    // Если не удалось связаться с БД или не найдены данные, используем API
                    $("#input1").val(suggestion.data.inn);
                    $("#input2").val(suggestion.data.name.full_with_opf);
                    $("#input3").val(suggestion.data.ogrn);
                    $("#input4").val(suggestion.data.address.unrestricted_value);
                    $("#input6").val(response.dir_name);
                    $("#input7").val(response.dir_post);
                    $("#input8").val("Устава");
                    $("#input9").val(response.today);

                    // Скрываем индикатор загрузки при ошибке
                    if (loadingIndicator) {
                        loadingIndicator.style.display = 'none';
                    }
                }
            });
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<br><br><br>
{% include 'footer.html' %}

</body>
</html>