<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KQX5FDFY5F');

    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создание договоров</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>
</head>
<body style="background-color: #edf6fc;">
{% include 'menu.html' %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-auto">
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="15" height="15" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="15" height="15" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["info"]) %}
            {% if messages %}
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="15" height="15" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>
                <div>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <form action="{{ url_for('manager.create_application') }}" method="POST">
                        <div class="mb-3">
                            <h5 class="card-header"><i class="fa-solid fa-circle-info fa-xs"
                                                       style="color: #8f8f8f;"></i> Заполнение заявки
                            </h5>
                        </div>
                        <div class="mb-3">
                            <label>Введите ИНН лизингополучателя</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" name="client_inn" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите ИНН продавца 1</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" name="seller_inn1" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите ИНН продавца 2</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" name="seller_inn2" value="" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите ИНН продавца 3</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" name="seller_inn3" value="" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Введите ИНН продавца 4</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" name="seller_inn4" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="submit-button1" class="btn btn-outline-primary btn-block">
                                Скачать заявку
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <form action="{{ url_for('manager.create_agreement') }}" method="POST">
                <div class="card border-light mb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light mb-3" id="main_fields" style="display: none;">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <h5 class="card-header"><i class="fa-solid fa-circle-info fa-xs"
                                                                       style="color: #8f8f8f;"></i> Общие поля</h5>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Введите ИНН лизингополучателя</label>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" name="client_inn" value="" class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Введите ИНН продавца</label>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" name="seller_inn" value="" class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Введите номер ДЛ/ДКП</label>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" name="number_dl" value="" class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Выберите подписанта от ЛКМБ</label>
                                        <select class="form-select form-select-sm" name="signatory"
                                                aria-label=".form-select-sm example" required>
                                            <option selected></option>
                                            <option value="Каюмов А. Д.">Каюмов А. Д.</option>
                                            <option value="Габдрахманов Р. Р.">Габдрахманов Р. Р.</option>
                                            <option value="Хасанова Д. Р.">Хасанова Д. Р.</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label>Выберите инвестора</label>
                                        <select class="form-select form-select-sm" name="investor"
                                                aria-label=".form-select-sm example" required>
                                            <option selected></option>
                                            <option value="ПАО «АК БАРС» БАНК">ПАО «АК БАРС» БАНК</option>
                                            <option value="АО «АЛЬФА-БАНК»">АО «АЛЬФА-БАНК»</option>
                                            <option value="ПАО АКБ «МЕТАЛЛИНВЕСТБАНК»">ПАО АКБ «МЕТАЛЛИНВЕСТБАНК»
                                            </option>
                                            <option value="ПАО «МКБ»">ПАО «МКБ»</option>
                                            <option value="АО «ПЕРВОУРАЛЬСКБАНК»">АО «ПЕРВОУРАЛЬСКБАНК»</option>
                                            <option value="АО «СОЛИД БАНК»">АО «СОЛИД БАНК»</option>
                                            <option value="АО КБ «УРАЛ ФД»">АО КБ «УРАЛ ФД»</option>
                                            <option value="ИНВЕСТТОРГБАНК АО">ИНВЕСТТОРГБАНК АО</option>
                                            <option value="ООО «ЛКМБ-РТ»">ООО «ЛКМБ-РТ»</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label>Выберите валюту</label>
                                        <select class="form-select form-select-sm" name="currency"
                                                aria-label=".form-select-sm example" required>
                                            <option selected></option>
                                            <option value="Рубль">Рубль</option>
                                            <option value="Китайский юань">Китайский юань</option>
                                            <option value="Доллар США">Доллар США</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label>Выберите предмет лизинга</label>
                                        <select class="form-select form-select-sm" name="pl"
                                                aria-label=".form-select-sm example"
                                                required>
                                            <option selected></option>
                                            <option value='0'>ПЛ №1</option>
                                            <option value='1'>ПЛ №2</option>
                                            <option value='2'>ПЛ №3</option>
                                            <option value='3'>ПЛ №4</option>
                                        </select>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="typeSelect"
                                               name="typeSelect">
                                        <label class="form-check-label" for="typeSelect">Оборудование</label>
                                    </div>
                                    <br>
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <h5 class="card-header"><i class="fa-solid fa-paperclip fa-xs"
                                                                       style="color: #8f8f8f;"></i> Заявка по клиенту
                                            </h5>
                                        </div>
                                        <input type="file" class="form-control form-control-sm"
                                               id="applicationFileInput"
                                               name="uploaded_application"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card border-light mb-3" id="dl_fields" style="display: none;">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <h5 class="card-header"><i class="fa-solid fa-circle-info fa-xs"
                                                                       style="color: #8f8f8f;"></i> Поля для ДЛ</h5>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Выберите страхователя</label>
                                        <select class="form-select form-select-sm" name="insurant"
                                                aria-label=".form-select-sm example" required>
                                            <option selected></option>
                                            <option value="ООО «ЛКМБ-РТ»">ООО «ЛКМБ-РТ»</option>
                                            <option value="Лизингополучатель">Лизингополучатель</option>
                                            <option value="1 год ЛКМБ-РТ, дальше лизингополучатель">1 год ЛКМБ-РТ,
                                                дальше
                                                лизингополучатель
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label>Выберите график платежей</label>
                                        <select class="form-select form-select-sm" name="graph"
                                                aria-label=".form-select-sm example"
                                                required>
                                            <option selected></option>
                                            <option value="Аннуитет">Аннуитет</option>
                                            <option value="Регрессив">Регрессив</option>
                                            <option value="Clients">Clients</option>
                                        </select>
                                    </div>
                                    <div class="mb-5">
                                        <div class="mb-3">
                                            <h5 class="card-header"><i class="fa-solid fa-paperclip fa-xs"
                                                                       style="color: #8f8f8f;"></i> График к ДЛ</h5>
                                        </div>
                                        <input type="file" class="form-control form-control-sm" id="graphicFileInput"
                                               name="uploaded_graphic"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card border-light mb-3" id="dkp_fields" style="display: none;">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <h5 class="card-header"><i class="fa-solid fa-circle-info fa-xs"
                                                                       style="color: #8f8f8f;"></i> Поля для ДКП</h5>
                                        </div>
                                        <div class="mb-3">
                                            <label>Тип предмета лизинга (новый или Б/У)</label>
                                            <select class="form-select form-select-sm" name="type_pl_new_or_not"
                                                    aria-label=".form-select-sm example" required>
                                                <option selected></option>
                                                <option value="used">Б/У</option>
                                                <option value="new">Новый</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label>Порядок оплаты (через пробел, например: 20 80)</label>
                                            <div class="input-group input-group-sm mb-3">
                                                <input type="text" name="client_inn" value="" class="form-control"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label>Место отгрузки ПЛ</label>
                                            <select class="form-select form-select-sm" name="place"
                                                    aria-label=".form-select-sm example" required>
                                                <option selected></option>
                                                <option value="продавец">По месту рег. продавца</option>
                                                <option value="лп">По месту рег. ЛП</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label>Подписание актов приема-передачи</label>
                                            <select class="form-select form-select-sm" name="acts"
                                                    aria-label=".form-select-sm example" required>
                                                <option selected></option>
                                                <option value="склад">В момент отгрузки со склада продавца</option>
                                                <option value="эксплуатация">По месту эксплуатации</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label>Способ подписания договора</label>
                                            <select class="form-select form-select-sm" name="diadok"
                                                    aria-label=".form-select-sm example" required>
                                                <option selected></option>
                                                <option value="diadok">Диадок</option>
                                                <option value="ecp">ЭЦП</option>
                                                <option value="live">Живая подпись</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-light mb-3" id="dop_fields" style="display: none;">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                   id="pnr"
                                                   name="pnr">
                                            <label class="form-check-label" for="typeSelect">Необходимость
                                                пуско-наладочных работ</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                   id="house"
                                                   name="house">
                                            <label class="form-check-label" for="typeSelect">Необходимость подготовки
                                                помещения</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                   id="learn"
                                                   name="learn">
                                            <label class="form-check-label" for="typeSelect">Необходимость обучения
                                                персонала</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light mb-3">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <h5 class="card-header"><i class="fa-solid fa-file-circle-check fa-xs"
                                                                       style="color: #8f8f8f;"></i> Создать договор
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="check_dl"
                                               name="check_dl">
                                        <label class="form-check-label" for="check_dl">ДЛ</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="check_dkp"
                                               name="check_dkp">
                                        <label class="form-check-label" for="check_dkp">ДКП</label>
                                    </div>
                                    <br>
                                    <div class="btn-group d-flex justify-content-center" role="group"
                                         aria-label="Basic outlined example">
                                        <button type="button" id="check-button" class="btn btn-outline-primary">
                                            Предпроверка
                                        </button>
                                        <button type="submit" id="submit-button" class="btn btn-outline-primary">Создать
                                            Договор
                                        </button>
                                    </div>
                                    <script>
                                        // Получаем ссылки на кнопки и инпуты для файлов
                                        var checkButton = document.getElementById("check-button");
                                        var applicationFileInput = document.getElementById("applicationFileInput");
                                        var graphicFileInput = document.getElementById("graphicFileInput");
                                        var submitButton = document.getElementById("submit-button");

                                        // Блокируем кнопку "Предпроверка" при загрузке страницы
                                        checkButton.disabled = true;
                                        submitButton.disabled = true;

                                        // Функция для проверки загрузки обоих файлов и разблокировки кнопки "Предпроверка"
                                        function checkFilesUploaded() {
                                            if (applicationFileInput.files.length > 0 && graphicFileInput.files.length > 0) {
                                                // Если оба файла загружены, разблокируем кнопку "Предпроверка"
                                                checkButton.disabled = false;
                                            }
                                        }

                                        // Добавляем обработчик события change для обоих инпутов файлов
                                        applicationFileInput.addEventListener("change", checkFilesUploaded);
                                        graphicFileInput.addEventListener("change", checkFilesUploaded);

                                        // Обработчик события для кнопки "Предпроверка"
                                        checkButton.addEventListener("click", function() {
                                            // Создаем объект FormData для загрузки файлов
                                            var formData = new FormData();
                                            formData.append('uploaded_application', applicationFileInput.files[0]);
                                            formData.append('uploaded_graphic', graphicFileInput.files[0]);

                                            // Отправляем файлы на сервер
                                            fetch("{{ url_for('manager.upload_files') }}", {
                                                method: 'POST',
                                                body: formData
                                            })
                                            .then(response => response.json())
                                            .then(data => {
                                                console.log(data); // Обработка данных с сервера после загрузки файлов

                                                // После успешной загрузки и сохранения файлов, можно выполнить дополнительные действия
                                                checkButton.disabled = true;
                                                submitButton.disabled = false;
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>
            // Получаем ссылки на чекбоксы и дополнительные поля
            const checkDl = document.getElementById("check_dl");
            const checkDkp = document.getElementById("check_dkp");
            const dlFields = document.getElementById("dl_fields");
            const dkpFields = document.getElementById("dkp_fields");
            const mainFields = document.getElementById("main_fields");
            const typeSelect = document.getElementById("typeSelect");
            const dopFields = document.getElementById("dop_fields");

            // Добавляем слушатели событий на чекбоксы
            checkDl.addEventListener("change", function() {
                if (checkDl.checked) {
                    dlFields.style.display = "block";
                    enableFields(dlFields);
                } else {
                    dlFields.style.display = "none";
                    disableFields(dlFields);
                }
                updateMainAndAppFields();
            });

            checkDkp.addEventListener("change", function() {
                if (checkDkp.checked) {
                    dkpFields.style.display = "block";
                    enableFields(dkpFields);
                } else {
                    dkpFields.style.display = "none";
                    disableFields(dkpFields);
                    dopFields.style.display = "none";
                    disableFields(dopFields);
                }
                updateMainAndAppFields();
                updateDopFields();
            });

            // Добавляем слушатель события изменения выбора
            typeSelect.addEventListener("change", function() {
                if (typeSelect.checked) {
                    dopFields.style.display = "block";
                    enableFields(dopFields);
                } else {
                    dopFields.style.display = "none";
                    disableFields(dopFields);
                }
            });

            function updateMainAndAppFields() {
                if (checkDl.checked || checkDkp.checked) {
                    mainFields.style.display = "block";
                    enableFields(mainFields);
                    appFields.style.display = "block";
                    enableFields(appFields);
                } else {
                    mainFields.style.display = "none";
                    disableFields(mainFields);
                    appFields.style.display = "none";
                    disableFields(appFields);
                }
            }

            function updateDopFields() {
                if (typeSelect.checked) {
                    dopFields.style.display = "block";
                    enableFields(dopFields);
                } else {
                    dopFields.style.display = "none";
                    disableFields(dopFields);
                }
            }

            // Функция для отключения элементов и добавления атрибута disabled
            function disableFields(container) {
                const inputs = container.querySelectorAll("input, select, textarea");
                inputs.forEach(input => {
                    input.disabled = true;
                });
            }

            // Функция для включения элементов и удаления атрибута disabled
            function enableFields(container) {
                const inputs = container.querySelectorAll("input, select, textarea");
                inputs.forEach(input => {
                    input.disabled = false;
                });
            }
        </script>
        <div class="col-5">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <div class="mb-3">
                        <h4 class="card-header">Документы по клиенту</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for folder_name in folder_names %}
                        <li class="list-group-item">
                            <a href="{{ url_for('manager.agreements_folder', folder_path=folder_name) }}"
                               class="btn btn-light btn-sm">
                                <i class="fa-regular fa-folder" style="color: #6b6b6b;"></i> {{ folder_name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<br><br><br>
{% include 'footer.html' %}

</body>
</html>