<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KQX5FDFY5F');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мониторинг платежей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>

</head>
<body>
{% include 'menu.html' %}

<div class="container mt-5">
    <div class="row d-flex justify-content-between align-items-start">
        <div class="col-md-5">
            <h3>Предстоящие платежи</h3>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Дата платежа</th>
                        <th scope="col">Наименование банка</th>
                        <th scope="col">Сумма платежа</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in result %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ payment.payment_date.strftime('%d.%m.%Y') }}</td>
                        <td>{{ payment.bank_name }}</td>
                        <td>{{ '{:,.2f}'.format(payment.main_debt).replace(',', ' ').replace('.', ',') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h3>Долг перед банками на {{ today_str }}</h3>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Наименование банка</th>
                        <th scope="col">Сумма долга</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in bank_debts %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ payment.bank_name }}</td>
                        <td>{{ '{:,.2f}'.format(payment.payment_amount).replace(',', ' ').replace('.', ',') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>