<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script src="{{ url_for('static', filename='js/google_tag.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Основная информация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

</head>
<body style="background-image: linear-gradient(to bottom, #FCFDFC, #CCE9FF, #000000);">
{% include 'menu.html' %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<br>
<div class="container-xxl text-left">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">2. Показатели деятельности</th>
                    <th scope="col">6 мес. {{ current_year }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr onclick="copyValue('newBusiness', 'copyNewBusiness', 'newBusinessTitle')">
                    <th scope="row" id="newBusinessTitle">Новый бизнес (НБ) по фин. лизингу (без НДС), млн руб.</th>
                    <td id="newBusiness">{{ expert_ra_6.new_business }}</td>
                    <td><i class="fa-regular fa-copy" id="copyNewBusiness"></i></td>
                </tr>
                <tr onclick="copyValue('newOperate', 'copyNewOperate', 'newOperateTitle')">
                    <th scope="row" id="newOperateTitle">НБ по оперативному лизингу/аренде (без НДС), млн руб.</th>
                    <td id="newOperate"></td>
                    <td><i class="fa-regular fa-copy" id="copyNewOperate"></i></td>
                </tr>
                <tr onclick="copyValue('sumNewAgreements', 'copySumNewAgreements', 'sumNewAgreementsTitle')">
                    <th scope="row" id="sumNewAgreementsTitle">Сумма новых договоров фин. и опер. лизинга, млн руб.</th>
                    <td id="sumNewAgreements"></td>
                    <td><i class="fa-regular fa-copy" id="copySumNewAgreements"></i></td>
                </tr>
                <tr onclick="copyValue('countNewAgreements', 'copyCountNewAgreements', 'countNewAgreementsTitle')">
                    <th scope="row" id="countNewAgreementsTitle">Количество новых заключенных договоров, штук</th>
                    <td id="countNewAgreements"></td>
                    <td><i class="fa-regular fa-copy" id="copyCountNewAgreements"></i></td>
                </tr>
                <tr onclick="copyValue('currentPortfolio', 'copyCurrentPortfolio', 'currentPortfolioTitle')">
                    <th scope="row" id="currentPortfolioTitle">Текущий портфель по фин. лизингу, млн руб.</th>
                    <td id="currentPortfolio"></td>
                    <td><i class="fa-regular fa-copy" id="copyCurrentPortfolio"></i></td>
                </tr>
                <tr onclick="copyValue('portfolioOperate', 'copyPortfolioOperate', 'portfolioOperateTitle')">
                    <th scope="row" id="portfolioOperateTitle">Портфель по оперативному лизингу/аренде, млн руб.</th>
                    <td id="portfolioOperate"></td>
                    <td><i class="fa-regular fa-copy" id="copyPortfolioOperate"></i></td>
                </tr>
                <tr onclick="copyValue('valueLeasingPayments', 'copyValueLeasingPayments', 'valueLeasingPaymentsTitle')">
                    <th scope="row" id="valueLeasingPaymentsTitle">Объем полученных лизинг. (в т.ч. аренд.) платежей, млн руб.</th>
                    <td id="valueLeasingPayments"></td>
                    <td><i class="fa-regular fa-copy" id="copyValueLeasingPayments"></i></td>
                </tr>
                <tr onclick="copyValue('financingAssets', 'copyFinancingAssets', 'financingAssetsTitle')">
                    <th scope="row" id="financingAssetsTitle">Профинансированные средства, млн руб.</th>
                    <td id="financingAssets"></td>
                    <td><i class="fa-regular fa-copy" id="copyFinancingAssets"></i></td>
                </tr>
                <tr onclick="copyValue('valueAdvances', 'copyValueAdvances', 'valueAdvancesTitle')">
                    <th scope="row" id="valueAdvancesTitle">Объем полученных авансов, млн руб.</th>
                    <td id="valueAdvances"></td>
                    <td><i class="fa-regular fa-copy" id="copyValueAdvances"></i></td>
                </tr>
                <tr onclick="copyValue('valueSeizedEstate', 'copyValueSeizedEstate', 'valueSeizedEstateTitle')">
                    <th scope="row" id="valueSeizedEstateTitle">Объём изъятого имущества, млн. руб.</th>
                    <td id="valueSeizedEstate"></td>
                    <td><i class="fa-regular fa-copy" id="copyValueSeizedEstate"></i></td>
                </tr>
                <tr onclick="copyValue('realizedEstate', 'copyRealizedEstate', 'realizedEstateTitle')">
                    <th scope="row" id="realizedEstateTitle">Реализованный объем изъятого имущества, млн. руб.</th>
                    <td id="realizedEstate"></td>
                    <td><i class="fa-regular fa-copy" id="copyRealizedEstate"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">2.2. Структура НБ по регионам (млн руб.)</th>
                    <th scope="col">6 мес. {{ current_year }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr onclick="copyValue('moscow', 'copyMoscow', 'moscowTitle')">
                    <th scope="row" id="moscowTitle">Москва</th>
                    <td id="moscow">777,00</td>
                    <td><i class="fa-regular fa-copy" id="copyMoscow"></i></td>
                </tr>
                <tr onclick="copyValue('central', 'copyCentral', 'centralTitle')">
                    <th scope="row" id="centralTitle">Центральный ФО (за исключением Москвы)</th>
                    <td id="central">0,00</td>
                    <td><i class="fa-regular fa-copy"
                           id="copyCentral"></i></td>
                </tr>
                <tr onclick="copyValue('spb', 'copySpb', 'spbTitle')">
                    <th scope="row" id="spbTitle">Санкт-Петербург</th>
                    <td id="spb"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copySpb"></i></td>
                </tr>
                <tr onclick="copyValue('northWest', 'copyNorthWest', 'NorthWestTitle')">
                    <th scope="row" id="NorthWestTitle">Северо-Западный ФО (за исключением Санкт-Петербурга)</th>
                    <td id="northWest"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copyNorthWest"></i></td>
                </tr>
                <tr onclick="copyValue('privolzhsky', 'copyPrivolzhsky', 'privolzhskyTitle')">
                    <th scope="row" id="privolzhskyTitle">Приволжский ФО</th>
                    <td id="privolzhsky"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copyPrivolzhsky"></i></td>
                </tr>
                <tr onclick="copyValue('northKavkaz', 'copyNorthKavkaz', 'NorthKavkazTitle')">
                    <th scope="row" id="NorthKavkazTitle">Северо-Кавказский ФО</th>
                    <td id ="northKavkaz"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copyNorthKavkaz"></i></td>
                </tr>
                <tr onclick="copyValue('south', 'copySouth', 'southTitle')">
                    <th scope="row" id="southTitle">Южный ФО</th>
                    <td id="south"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copySouth"></i></td>
                </tr>
                <tr onclick="copyValue('ural', 'copyUral', 'uralTitle')">
                    <th scope="row" id="uralTitle">Уральский ФО</th>
                    <td id="ural"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copyUral"></i></td>
                </tr>
                <tr onclick="copyValue('siberian', 'copySiberian', 'siberianTitle')">
                    <th scope="row" id="siberianTitle">Сибирский ФО</th>
                    <td id="siberian"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copySiberian"></i></td>
                </tr>
                <tr onclick="copyValue('farEast', 'copyFarEast', 'farEastTitle')">
                    <th scope="row" id="farEastTitle">Дальневосточный ФО</th>
                    <td id="farEast"></td>
                    <td><i class="fa-regular fa-copy" id="copyFarEast"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">2.1. Структура по сегментам (млн руб.)</th>
                    <th scope="col">Объем НБ за 6 мес. {{ current_year }}</th>
                    <th scope="col">Объем НБ за 6 мес. {{ current_year }} (субъекты МСБ)</th>
                    <th scope="col">Лизинговый портфель на 01.10.{{ current_year }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" id="carTitle">Легковые автомобили</th>
                    <td class="text-center" id="valueNewBusinessCar" onclick="copyValue2('valueNewBusinessCar', 'carTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbCar" onclick="copyValue2('valueNewBusinessMsbCar', 'carTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioCar" onclick="copyValue2('leasingPortfolioCar', 'carTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="busTitle">Автобусы и троллейбусы</th>
                    <td class="text-center" id="valueNewBusinessBus" onclick="copyValue2('valueNewBusinessBus', 'busTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbBus" onclick="copyValue2('valueNewBusinessMsbBus', 'busTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioBus" onclick="copyValue2('leasingPortfolioBus', 'busTitle')">350</td>

                </tr>
                <tr>
                    <th scope="row" id="truckTitle">Грузовой автотранспорт</th>
                    <td class="text-center" id="valueNewBusinessTruck" onclick="copyValue2('valueNewBusinessTruck', 'truckTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbTruck" onclick="copyValue2('valueNewBusinessMsbTruck', 'truckTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioTruck" onclick="copyValue2('leasingPortfolioTruck', 'truckTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="trainTitle">Железнодорожная техника</th>
                    <td class="text-center" id="valueNewBusinessTrain" onclick="copyValue2('valueNewBusinessTrain', 'trainTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbTrain" onclick="copyValue2('valueNewBusinessMsbTrain', 'trainTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioTrain" onclick="copyValue2('leasingPortfolioTrain', 'trainTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="airTitle">Авиационный транспорт (воздушные суда, вертолеты)</th>
                    <td class="text-center" id="valueNewBusinessAir" onclick="copyValue2('valueNewBusinessAir', 'airTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbAir" onclick="copyValue2('valueNewBusinessMsbAir', 'airTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioAir" onclick="copyValue2('leasingPortfolioAir', 'airTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="buildTitle">Строительная и дорожно-строит. техника, вкл. строит. спецтехнику на колесах</th>
                    <td class="text-center" id="valueNewBusinessBuild" onclick="copyValue2('valueNewBusinessBuild', 'buildTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbBuild" onclick="copyValue2('valueNewBusinessMsbBuild', 'buildTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioBuild" onclick="copyValue2('leasingPortfolioBuild', 'buildTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="energyTitle">Энергетическое оборудование</th>
                    <td class="text-center" id="valueNewBusinessEnergy" onclick="copyValue2('valueNewBusinessEnergy', 'energyTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbEnergy" onclick="copyValue2('valueNewBusinessMsbEnergy', 'energyTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioEnergy" onclick="copyValue2('leasingPortfolioEnergy', 'energyTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="metalTitle">Машиностроит., металлообрабат. и металлургическое оборудование</th>
                    <td class="text-center" id="valueNewBusinessMetal" onclick="copyValue2('valueNewBusinessMetal', 'metalTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbMetal" onclick="copyValue2('valueNewBusinessMsbMetal', 'metalTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioMetal" onclick="copyValue2('leasingPortfolioMetal', 'metalTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="industTitle">Оборудование для нефте- и газодобычи и переработки</th>
                    <td class="text-center" id="valueNewBusinessIndust" onclick="copyValue2('valueNewBusinessIndust', 'industTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbIndust" onclick="copyValue2('valueNewBusinessMsbIndust', 'industTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioIndust" onclick="copyValue2('leasingPortfolioIndust', 'industTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="agroTitle">Сельскохозяйственная техника и скот</th>
                    <td class="text-center" id="valueNewBusinessAgro" onclick="copyValue2('valueNewBusinessAgro', 'agroTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbAgro" onclick="copyValue2('valueNewBusinessMsbAgro', 'agroTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioAgro" onclick="copyValue2('leasingPortfolioAgro', 'agroTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="telTitle">Телекоммуникационное оборудование, оргтехника, компьютеры</th>
                    <td class="text-center" id="valueNewBusinessTel" onclick="copyValue2('valueNewBusinessTel', 'telTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbTel" onclick="copyValue2('valueNewBusinessMsbTel', 'telTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioTel" onclick="copyValue2('leasingPortfolioTel', 'telTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="polygraphTitle">Полиграфическое оборудование</th>
                    <td class="text-center" id="valueNewBusinessPolygraph" onclick="copyValue2('valueNewBusinessPolygraph', 'polygraphTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbPolygraph" onclick="copyValue2('valueNewBusinessMsbPolygraph', 'polygraphTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioPolygraph" onclick="copyValue2('leasingPortfolioPolygraph', 'polygraphTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="realEstateTitle">Недвижимость (здания и сооружения)</th>
                    <td class="text-center" id="valueNewBusinessRealEstate" onclick="copyValue2('valueNewBusinessRealEstate', 'realEstateTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbRealEstate" onclick="copyValue2('valueNewBusinessMsbRealEstate', 'realEstateTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioRealEstate" onclick="copyValue2('leasingPortfolioRealEstate', 'realEstateTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="foodTitle">Оборуд-е для пищевой промыш., вкл. холод-е и оборудование для ресторанов</th>
                    <td class="text-center" id="valueNewBusinessFood" onclick="copyValue2('valueNewBusinessFood', 'foodTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbFood" onclick="copyValue2('valueNewBusinessMsbFood', 'foodTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioFood" onclick="copyValue2('leasingPortfolioFood', 'foodTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="cargoTitle">Погрузчики, складское и упаковоч. оборуд-е и оборуд-е для произв. тары</th>
                    <td class="text-center" id="valueNewBusinessCargo" onclick="copyValue2('valueNewBusinessCargo', 'cargoTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbCargo" onclick="copyValue2('valueNewBusinessMsbCargo', 'cargoTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioCargo" onclick="copyValue2('leasingPortfolioCargo', 'cargoTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="gkhTitle">Оборудование для ЖКХ</th>
                    <td class="text-center" id="valueNewBusinessGkh" onclick="copyValue2('valueNewBusinessGkh', 'gkhTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbGkh" onclick="copyValue2('valueNewBusinessMsbGkh', 'gkhTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioGkh" onclick="copyValue2('leasingPortfolioGkh', 'gkhTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="medTitle">Медицинская техника и фармацевтическое оборудование</th>
                    <td class="text-center" id="valueNewBusinessMed" onclick="copyValue2('valueNewBusinessMed', 'medTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbMed" onclick="copyValue2('valueNewBusinessMsbMed', 'medTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioMed" onclick="copyValue2('leasingPortfolioMed', 'medTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="waterTitle">Суда (морские и речные)</th>
                    <td class="text-center" id="valueNewBusinessWater" onclick="copyValue2('valueNewBusinessWater', 'waterTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbWater" onclick="copyValue2('valueNewBusinessMsbWater', 'waterTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioWater" onclick="copyValue2('leasingPortfolioWater', 'waterTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="treeTitle">Деревообрабатывающее оборудование</th>
                    <td class="text-center" id="valueNewBusinessTree" onclick="copyValue2('valueNewBusinessTree', 'treeTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbTree" onclick="copyValue2('valueNewBusinessMsbTree', 'treeTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioTree" onclick="copyValue2('leasingPortfolioTree', 'treeTitle')">350</td>
                </tr>
                <tr>
                    <th scope="row" id="otherTitle">Прочее имущество всего (укажите ниже какое именно имущество)</th>
                    <td class="text-center" id="valueNewBusinessOther" onclick="copyValue2('valueNewBusinessOther', 'otherTitle')">100</td>
                    <td class="text-center" id="valueNewBusinessMsbOther" onclick="copyValue2('valueNewBusinessMsbOther', 'otherTitle')">50</td>
                    <td class="text-center" id="leasingPortfolioOther" onclick="copyValue2('leasingPortfolioOther', 'otherTitle')">350</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">2.3. Структура НБ по клиентам (млн руб.)</th>
                    <th scope="col">6 мес. {{ current_year }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr onclick="copyValue('smallBusiness', 'copySmallBusiness', 'smallBusinessTitle')">
                    <th scope="row" id="smallBusinessTitle">Малый бизнес (ССЧ <100 чел., выручка <0,8 млрд руб.)</th>
                    <td id="smallBusiness"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copySmallBusiness"></i></td>
                </tr>
                <tr onclick="copyValue('middleBusiness', 'copyMiddleBusiness', 'middleBusinessTitle')">
                    <th scope="row" id="middleBusinessTitle">Средний бизнес (CCЧ 100-250 чел., выручка 0,8-2 млрд руб.)</th>
                    <td id="middleBusiness"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copyMiddleBusiness"></i></td>
                </tr>
                <tr onclick="copyValue('bigBusiness', 'copyBigBusiness', 'bigBusinessTitle')">
                    <th scope="row" id="bigBusinessTitle">Крупный бизнес (ССЧ >250 чел., выручка >2 млрд руб.)</th>
                    <td id="bigBusiness"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copyBigBusiness"></i></td>
                </tr>
                <tr onclick="copyValue('physicalPersons', 'copyPhysicalPersons', 'physicalPersonsTitle')">
                    <th scope="row" id="physicalPersonsTitle">Физические лица (ИП не включаются)</th>
                    <td id="physicalPersons"></td>
                    <td><i class="fa-regular fa-copy"
                           id="copyPhysicalPersons"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">3. Объем профинансированных средств</th>
                    <th scope="col">6 мес. {{ current_year }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr onclick="copyValue('ownFunds', 'copyOwnFunds', 'ownFundsTitle')">
                    <th scope="row" id="ownFundsTitle">собственные средства (УК+нераспр прибыль)</th>
                    <td id="ownFunds">10 000,00</td>
                    <td><i class="fa-regular fa-copy"
                           id="copyOwnFunds"></i></td>
                </tr>
                <tr onclick="copyValue('bankCredits', 'copyBankCredits', 'bankCreditsTitle')">
                    <th scope="row" id="bankCreditsTitle">банковские кредиты</th>
                    <td id="bankCredits">20 000,00</td>
                    <td><i class="fa-regular fa-copy"
                           id="copyBankCredits"></i></td>
                </tr>
                <tr onclick="copyValue('obligations', 'copyObligations', 'obligationsTitle')">
                    <th scope="row" id="obligationsTitle">облигации</th>
                    <td id="obligations">30 000,00</td>
                    <td><i class="fa-regular fa-copy"
                           id="copyObligations"></i></td>
                </tr>
                <tr onclick="copyValue('advance', 'copyAdvance', 'advanceTitle')">
                    <th scope="row" id="advanceTitle">авансы</th>
                    <td id="advance">40 000,00</td>
                    <td><i class="fa-regular fa-copy"
                           id="copyAdvance"></i></td>
                </tr>
                <tr onclick="copyValue('otherFunds', 'copyOtherFunds', 'otherFundsTitle')">
                    <th scope="row" id="otherFundsTitle">прочие источники</th>
                    <td id="otherFunds">50 000,00</td>
                    <td><i class="fa-regular fa-copy"
                           id="copyOtherFunds"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function copyValue(elemId, copyElemId, elemTitle) {
        var ownFundsElement = document.getElementById(elemId);
        var copyIcon = document.getElementById(copyElemId);
        var elemTitle = document.getElementById(elemTitle);
        var textToCopy = ownFundsElement.textContent;

        // Создание временного элемента для копирования текста
        var tempInput = document.createElement("input");
        tempInput.value = textToCopy;
        document.body.appendChild(tempInput);

        // Выделение текста и копирование
        tempInput.select();
        document.execCommand("copy");

        // Удаление временного элемента
        document.body.removeChild(tempInput);

        // Подсветка иконки копирования
        copyIcon.style.color = "grey";
        ownFundsElement.style.color = "grey";
        elemTitle.style.color = "grey";
        setTimeout(function () {
            copyIcon.style.color = "";
            ownFundsElement.style.color = "";
            elemTitle.style.color = "";
        }, 200);
    }
</script>
<script>
    function copyValue2(elemId, elemTitle) {
        var ownFundsElement = document.getElementById(elemId);
        var elemTitle = document.getElementById(elemTitle);
        var textToCopy = ownFundsElement.textContent;

        // Создание временного элемента для копирования текста
        var tempInput = document.createElement("input");
        tempInput.value = textToCopy;
        document.body.appendChild(tempInput);

        // Выделение текста и копирование
        tempInput.select();
        document.execCommand("copy");

        // Удаление временного элемента
        document.body.removeChild(tempInput);

        // Подсветка иконки копирования
        ownFundsElement.style.color = "grey";
        elemTitle.style.color = "grey";
        setTimeout(function () {
            ownFundsElement.style.color = "";
            elemTitle.style.color = "";
        }, 200);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}
</body>
</html>
