<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KQX5FDFY5F');

    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Загрузка графиков</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        .table {
          border: 2px solid #000; /* Настройка границы таблицы */
        }

        .table-responsive {
          overflow-x: auto; /* Добавление горизонтальной прокрутки для таблицы */
        }
    </style>
</head>
<body style="background-image: linear-gradient(to bottom, #FCFDFC, #CCE9FF, #000000);">
{% include 'menu.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <form action="{{ url_for('payment.create_payment') }}" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label>Номер договора лизинга</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="leasing_contract" name="leasing_contract" value=""
                                       class="form-control" required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>ИНН лизингополучателя</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="company_inn" name="company_inn" value="" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Инфо по лизингополучателю</label>
                            <div class="input-group input-group-sm mb-3">
                                <textarea id="company_info" name="company_info" class="form-control" readonly required></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>ИНН продавца</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="seller_inn" name="seller_inn" value="" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Инфо по продавцу</label>
                            <div class="input-group input-group-sm mb-3">
                                <textarea id="seller_info" name="seller_info" class="form-control" readonly required></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="datepicker">Дата выдачи кредита</label>
                            <input type="text" class="form-control flatpickr-input" id="datepicker"
                                   name="date_of_issue"
                                   value="2021-10-11"
                                   required readonly
                                   data-flatpickr='{"locale": "ru", "dateFormat": "d.m.Y"}'
                                   style="  width: 200px;"></div>
                        <div class="mb-3">
                            <label for="exampleDropdownFormInvestor">Инвестор</label>
                            <select class="form-control" id="exampleDropdownFormInvestor" name="investor"
                                    onchange="updateCreditContracts()" required>
                                <option value="bank1">ПАО «АК БАРС» БАНК</option>
                                <option value="bank2">АО «АЛЬФА-БАНК»</option>
                                <option value="bank4" selected>ПАО АКБ «МЕТАЛЛИНВЕСТБАНК»</option>
                                <option value="bank5">ПАО «МОСКОВСКИЙ КРЕДИТНЫЙ БАНК»</option>
                                <option value="bank6">АО «ПЕРВОУРАЛЬСКБАНК»</option>
                                <option value="bank7">АО «СМП БАНК»</option>
                                <option value="bank8">АО «СОЛИД БАНК»</option>
                                <option value="bank9">АО КБ «УРАЛ ФД»</option>
                                <option value="bank10">ПАО «СОВКОМБАНК»</option>
                                <option value="bank11">ПАО «СБЕРБАНК»</option>
                                <option value="bank12">АО «ИНВЕСТТОРГБАНК»</option>
                                <option value="lkmb">СОБСТВЕННЫЕ СРЕДСТВА</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="typeCreditDogovor">Номер кредитного договора</label>
                            <select class="form-control" id="typeCreditDogovor" name="credit_contract">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Размер % ставки (доля, например: 0.16)</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="interest_rate" name="interest_rate" value="0.144" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Выберите ставку (плав/фикс)</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                       value="floating" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Плавающая % ставка
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                       value="fixed">
                                <label class="form-check-label" for="exampleRadios2">
                                    Фиксированная % ставка
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFileInput">Выбрать файл</label>
                            <input type="file" class="form-control" id="exampleFileInput" name="uploaded_file"
                                   required>
                        </div>
                        <button type="submit" onclick="handleFile()" class="btn btn-outline-primary" name="save_file">
                            Сохранить
                            файл
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-16">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Дата начала периода</th>
                                <th>Дата окончания периода</th>
                                <th>Дата уплаты процентов</th>
                                <th>Остаток ОД на начало периода</th>
                                <th>Количество дней до погашения ОД</th>
                                <th>Остаток ОД на конец периода</th>
                                <th>Количество дней после погашения ОД</th>
                                <th>Сумма процентов до погашения ОД</th>
                                <th>Сумма процентов после погашения ОД</th>
                                <th>Общая сумма процентов</th>
                                <th>Дата погашения Основного долга</th>
                                <th>Сумма погашения Основного долга</th>
                                <!-- Добавьте заголовки для остальных столбцов -->
                            </tr>
                            </thead>
                            <tbody id="table_json_body">
                            <tr>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    flatpickr("#datepicker", {
        locale: "ru",
        appendTo: document.body,
        i18n: {
            previousMonth: "Предыдущий месяц",
            nextMonth: "Следующий месяц",
            months: {
                shorthand: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                longhand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
            }
        }
    });

</script>
<script>
    $("#company_inn").suggestions({
        token: "{{ suggestions_token }}",
        type: "PARTY",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            $("#company_inn").val(suggestion.data.inn);
            $("#company_info").val(JSON.stringify(suggestion));
        }
    });
    $("#seller_inn").suggestions({
        token: "{{ suggestions_token }}",
        type: "PARTY",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            $("#seller_inn").val(suggestion.data.inn);
            $("#seller_info").val(JSON.stringify(suggestion));
        }
    });

function processFile() {
    var file = document.getElementById("exampleFileInput").files[0];

    if (file && file.name.endsWith('.xlsx')) {
        console.log("Файл прочитан");
        var reader = new FileReader();

        reader.onload = function(e) {
            var data = new Uint8Array(e.target.result);
            var workbook = XLSX.read(data, { type: 'array' });
            var firstSheetName = workbook.SheetNames[0];

            var firstSheetData = XLSX.utils.sheet_to_json(workbook.Sheets[firstSheetName]);
       /* Читается наименование банка, кредитной линии, уровень ставки и плав/фикс */
            var exampleDropdownFormInvestor = document.getElementById("exampleDropdownFormInvestor");
            var investorDropdown = document.getElementById("exampleDropdownFormInvestor");
            var selectedBankName = investorDropdown.options[investorDropdown.selectedIndex].text;


            var typeCreditDogovor = document.getElementById("typeCreditDogovor");
            var selectedCreditContract = typeCreditDogovor.value;

            var interestRateInput = document.getElementById("interest_rate");
            var interestRateValue = interestRateInput.value;


            var selectedOption = document.querySelector('input[name="exampleRadios"]:checked').nextElementSibling.textContent.trim();

            console.log("Выбранное название банка:", selectedBankName);
            console.log("Выбранный номер кредитного договора:", selectedCreditContract);
            console.log("Значение поля размера % ставки:", interestRateValue);
            console.log("Выбранное значение радиокнопки:", selectedOption);

        /* Читаются номер ДЛ,  */
            var leasingContractInput = document.getElementById("leasing_contract");
            var leasingContractValue = leasingContractInput.value;

            var companyInnInput = document.getElementById("company_inn");
            var companyInnValue = companyInnInput.value;

            var sellerInnInput = document.getElementById("seller_inn");
            var sellerInnValue = sellerInnInput.value;

            var dateOfIssueInput = document.getElementById("datepicker");
            var dateOfIssueValue = dateOfIssueInput.value;

            console.log("Номер договора лизинга:", leasingContractValue);
            console.log("ИНН лизингополучателя:", companyInnValue);
            console.log("ИНН продавца:", sellerInnValue);
            console.log("Дата выдачи кредита:", dateOfIssueValue);

            if (firstSheetData.length > 0) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', './fill_read_from_xlsx', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onerror = function() {
                    console.error('Произошла ошибка при отправке запроса.');
                };
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200){
                        var response = JSON.parse(xhr.responseText);
                        var tableData = ''; // Initialize an empty string to store the table data
                        if (response) {
                            response.forEach(function(cell) {
                                tableData += `<tr>
                                    <td>${cell['№']}</td>
                                    <td>${cell['Дата начала периода']}</td>
                                    <td>${cell['Дата окончания периода']}</td>
                                    <td>${cell['Дата уплаты процентов']}</td>
                                    <td>${cell['Остаток ОД на начало периода']}</td>
                                    <td>${cell['Количество дней до погашения ОД']}</td>
                                    <td>${cell['Остаток ОД на конец периода']}</td>
                                    <td>${cell['Количество дней после погашения ОД']}</td>
                                    <td>${cell['Сумма процентов до погашения ОД']}</td>
                                    <td>${cell['Сумма процентов после погашения ОД']}</td>
                                    <td>${cell['Общая сумма процентов']}</td>
                                    <td>${cell['Дата погашения Основного долга']}</td>
                                    <td>${cell['Сумма погашения Основного долга']}</td>
                                    <!-- добавьте остальные столбцы здесь -->
                                  </tr>`; // Append each row to the table data
                });

                        document.getElementById('table_json_body').innerHTML = tableData; // Replace the content of the table body with the received data
                        // Если вам нужно обновить значения в редактируемых ячейках, вы можете использовать что-то вроде этого:
                        // Получаем все редактируемые ячейки из тела таблицы
                        var editableCells = document.querySelectorAll('#table_json_body td');

                        // Устанавливаем атрибут contenteditable в значение "true" для каждой ячейки
                        editableCells.forEach(function(cell) {
                          cell.setAttribute('contenteditable', 'true');
                        });
                        }
                        }
                };
                        xhr.send(JSON.stringify({
                          data: firstSheetData,
                          data1: selectedBankName,
                          data2: selectedCreditContract,
                          data3: interestRateValue,
                          data4: selectedOption,
                          data5: leasingContractValue,
                          data6: companyInnValue,
                          data7: sellerInnValue,
                          data8: dateOfIssueValue
                        }));
                console.log("Файл прочитан5435");
            } else {
                console.log("Данные первого листа пусты или некорректны.");
            }
        };
        reader.readAsArrayBuffer(file);
    } else {
        console.log("Выбран неверный тип файла или файл не выбран");
    }
}

document.getElementById("exampleFileInput").addEventListener("change", processFile);

// Находим кнопку
var button = document.querySelector('button[name="save_file"]');

// Добавляем обработчик события click
button.addEventListener('click', function() {
  // Получаем все редактируемые ячейки из тела таблицы
  var editableCells = document.querySelectorAll('#table_json_body td');
  console.log(editableCells);
  // Создаем массив для хранения данных из ячеек
  var cellData = [];

  // Проходим по каждой редактируемой ячейке и добавляем ее значение в массив
  editableCells.forEach(function(cell) {
    cellData.push(cell.textContent);
  });

  // Теперь у вас есть массив cellData, который содержит данные из редактируемых ячеек
  console.log(cellData);
});

</script>
<script src="{{ url_for('static', filename='js/first-page.js') }}"></script>
{% include 'footer.html' %}

</body>
</html>