<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KQX5FDFY5F');

    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Загрузка графиков</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        .table {
          border: 2px solid #000; /* Настройка границы таблицы */
        }

        .table-responsive {
          overflow-x: auto; /* Добавление горизонтальной прокрутки для таблицы */
        }
    </style>
</head>
<body style="background-image: linear-gradient(to bottom, #FCFDFC, #CCE9FF, #000000);">
{% include 'menu.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <form action="{{ url_for('payment.create_payment') }}" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label>Номер договора лизинга</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="leasing_contract" name="leasing_contract" value=""
                                       class="form-control" required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>ИНН лизингополучателя</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="company_inn" name="company_inn" value="" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>ИНН продавца</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="seller_inn" name="seller_inn" value="" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="datepicker">Дата выдачи кредита</label>
                            <input type="text" class="form-control flatpickr-input" id="datepicker"
                                   name="date_of_issue"
                                   required readonly
                                   data-flatpickr='{"locale": "ru", "dateFormat": "d.m.Y"}'
                                   style="  width: 200px;"></div>
                        <div class="mb-3">
                            <label for="exampleDropdownFormInvestor">Инвестор</label>
                            <select class="form-control" id="exampleDropdownFormInvestor" name="investor"
                                    onchange="updateCreditContracts()" required>
                                <option value="bank1">ПАО «АК БАРС» БАНК</option>
                                <option value="bank2">АО «АЛЬФА-БАНК»</option>
                                <option value="bank4">ПАО АКБ «МЕТАЛЛИНВЕСТБАНК»</option>
                                <option value="bank5">ПАО «МОСКОВСКИЙ КРЕДИТНЫЙ БАНК»</option>
                                <option value="bank6">АО «ПЕРВОУРАЛЬСКБАНК»</option>
                                <option value="bank7">АО «СМП БАНК»</option>
                                <option value="bank8">АО «СОЛИД БАНК»</option>
                                <option value="bank9">АО КБ «УРАЛ ФД»</option>
                                <option value="lkmb">СОБСТВЕННЫЕ СРЕДСТВА</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="typeCreditDogovor">Номер кредитного договора</label>
                            <select class="form-control" id="typeCreditDogovor" name="credit_contract">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Размер % ставки (доля, например: 0.16)</label>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" id="interest_rate" name="interest_rate" value="" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Выберите ставку (плав/фикс)</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                       value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Плавающая % ставка
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                       value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Фиксированная % ставка
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFileInput">Выбрать файл</label>
                            <input type="file" class="form-control" id="exampleFileInput" name="uploaded_file"
                                   required>
                        </div>
                        <button type="submit" onclick="handleFile()" class="btn btn-outline-primary" name="save_file">
                            Сохранить
                            файл
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-16">
            <div class="card border-light mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>№</th>
                                <th>Дата начала периода</th>
                                <th>Дата окончания периода</th>
                                <th>Дата уплаты процентов</th>
                                <th>Остаток ОД на начало периода</th>
                                <th>Количество дней до погашения ОД</th>
                                <th>Остаток ОД на конец периода</th>
                                <th>Количество дней после погашения ОД</th>
                                <th>Сумма процентов до погашения ОД</th>
                                <th>Сумма процентов после погашения ОД</th>
                                <th>Общая сумма процентов</th>
                                <th>Дата погашения Основного долга</th>
                                <th>Сумма погашения Основного долга</th>
                                <!-- Добавьте заголовки для остальных столбцов -->
                            </tr>

                            <tbody>
                            <tr>
                                <td>Ячейка 1</td>
                                <td>Ячейка 2</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <td>Ячейка 3</td>
                                <!-- Добавьте содержимое для остальных ячеек -->
                            </tr>
                            <!-- Добавьте дополнительные строки по аналогии -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    flatpickr("#datepicker", {
        locale: "ru",
        appendTo: document.body,
        i18n: {
            previousMonth: "Предыдущий месяц",
            nextMonth: "Следующий месяц",
            months: {
                shorthand: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                longhand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
            }
        }
    });

</script>
<script>
    $("#company_inn").suggestions({
        token: "{{ suggestions_token }}",
        type: "PARTY",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            $("#company_inn").val(suggestion.data.inn);
        }
    });
    $("#seller_inn").suggestions({
        token: "{{ suggestions_token }}",
        type: "PARTY",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            $("#seller_inn").val(suggestion.data.inn);
        }
    });

    <!--    Скрипты ниже работают по физику-->
        <!--    после ввода ИНН парсит все данные в дадата и вставляет их в поля-->
            function processFile() {
            var file = document.getElementById("exampleFileInput").files[0];

            if (file && file.name.endsWith('.xlsx')) {
                console.log("Файл прочитан");
                var reader = new FileReader();

                reader.onload = function(e) {
                    var data = new Uint8Array(e.target.result);
                    var workbook = XLSX.read(data, { type: 'array' });
                    // Получаем название первого листа
                    var firstSheetName = workbook.SheetNames[0];

                    // Получаем данные из первого листа в формате JSON
                    var firstSheetData = XLSX.utils.sheet_to_json(workbook.Sheets[firstSheetName]);

                    // Выводим данные первого листа в формате JSON
                    console.log(JSON.stringify(firstSheetData));
                    // Отправка данных через AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', './fill_read_from_xlsx', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log("Функция сработала");
                }
<!--                if (xhr.readyState === 4 && xhr.status === 200) {-->
<!--                    var response = JSON.parse(xhr.responseText);-->
<!--                    document.getElementById('inputFiz2').value = response.data1;-->
<!--                    document.getElementById('inputFiz3').value = response.data2;-->
<!--                    document.getElementById('inputFiz4').value = response.data3;-->
<!--                }-->
            };
            xhr.send(JSON.stringify({ data: firstSheetData }));
        };

        reader.readAsArrayBuffer(file);

    } else {
        console.log("Выбран неверный тип файла или файл не выбран");
    }
}

document.getElementById("exampleFileInput").addEventListener("change", processFile);

<!--
<!--$.ajax({-->
<!--                        url: './fill_read_from_xlsx',-->
<!--                        type: 'POST',-->
<!--                        data: {'data': (JSON.stringify(firstSheetData))},-->
<!--                        success: function(response)-->
<!--                        {-->
<!--                        $('#inputFiz2').val(response.data1);-->
<!--                        $('#inputFiz3').val(response.data2);-->
<!--                        $('#inputFiz4').val(response.data3);-->
<!--                        }-->
<!--                    }-->
<!--                    )};-->
<!--                });-->


</script>
<script src="{{ url_for('static', filename='js/first-page.js') }}"></script>
{% include 'footer.html' %}

</body>
</html>