<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script src="{{ url_for('static', filename='js/google_tag.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Основная информация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

</head>
<body style="background-image: linear-gradient(to bottom, #FCFDFC, #CCE9FF, #000000);">
{% include 'menu.html' %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<br>
<div class="container-fluid text-left">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Показатели ООО "ЛКМБ-РТ"</th>
                    <th scope="col" id="currentMonth"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам лизинга (ДЛ)</th>
                    <td>{{ data.month.sum_dl }}</td>
                </tr>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам поставки (ДКП)</th>
                    <td>{{ data.month.sum_dkp }}</td>
                </tr>
                <tr>
                    <th scope="row">Количество новых договоров</th>
                    <td>{{ data.month.count_new_contracts }}</td>
                </tr>
                <tr>
                    <th scope="row">Авансы лизингополучателей</th>
                    <td>{{ data.month.advances }}</td>
                </tr>
                <tr>
                    <th scope="row">Кредиты банков</th>
                    <td>{{ data.month.credit }}</td>
                </tr>
                <tr>
                    <th scope="row">Соофинансирование ООО "ЛКМБ-РТ"</th>
                    <td>{{ data.month.co_finance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" id="prevMonth"></th>
                    <th scope="col" id="lastYearMonth"></th>
                    <th scope="col" id="twoYearsAgoMonth"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам лизинга (ДЛ)</th>
                    <td>{{ data.prev_month.sum_dl }}</td>
                    <td>{{ data.prev_prev_month.sum_dl }}</td>
                    <td>{{ data.prev_prev_prev_month.sum_dl }}</td>
                </tr>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам поставки (ДКП)</th>
                    <td>{{ data.prev_month.sum_dkp }}</td>
                    <td>{{ data.prev_prev_month.sum_dkp }}</td>
                    <td>{{ data.prev_prev_prev_month.sum_dkp }}</td>
                </tr>
                <tr>
                    <th scope="row">Количество новых договоров</th>
                    <td>{{ data.prev_month.count_new_contracts }}</td>
                    <td>{{ data.prev_prev_month.count_new_contracts }}</td>
                    <td>{{ data.prev_prev_prev_month.count_new_contracts }}</td>
                </tr>
                <tr>
                    <th scope="row">Авансы лизингополучателей</th>
                    <td>{{ data.prev_month.advances }}</td>
                    <td>{{ data.prev_prev_month.advances }}</td>
                    <td>{{ data.prev_prev_prev_month.advances }}</td>
                </tr>
                <tr>
                    <th scope="row">Кредиты банков</th>
                    <td>{{ data.prev_month.credit }}</td>
                    <td>{{ data.prev_prev_month.credit }}</td>
                    <td>{{ data.prev_prev_prev_month.credit }}</td>
                </tr>
                <tr>
                    <th scope="row">Соофинансирование ООО "ЛКМБ-РТ"</th>
                    <td>{{ data.prev_month.co_finance }}</td>
                    <td>{{ data.prev_prev_month.co_finance }}</td>
                    <td>{{ data.prev_prev_prev_month.co_finance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Показатели ООО "ЛКМБ-РТ"</th>
                    <th scope="col" id="currentQuarter"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам лизинга (ДЛ)</th>
                    <td>{{ data.quarter.sum_dl }}</td>
                </tr>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам поставки (ДКП)</th>
                    <td>{{ data.quarter.sum_dkp }}</td>
                </tr>
                <tr>
                    <th scope="row">Количество новых договоров</th>
                    <td>{{ data.quarter.count_new_contracts }}</td>
                </tr>
                <tr>
                    <th scope="row">Авансы лизингополучателей</th>
                    <td>{{ data.quarter.advances }}</td>
                </tr>
                <tr>
                    <th scope="row">Кредиты банков</th>
                    <td>{{ data.quarter.credit }}</td>
                </tr>
                <tr>
                    <th scope="row">Соофинансирование ООО "ЛКМБ-РТ"</th>
                    <td>{{ data.quarter.co_finance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" id="prevQuarterDL"></th>
                    <th scope="col" id="lastYearQuarterDL"></th>
                    <th scope="col" id="twoYearsAgoQuarterDL"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам лизинга (ДЛ)</th>
                    <td>{{ data.prev_quarter.sum_dl }}</td>
                    <td>{{ data.prev_prev_quarter.sum_dl }}</td>
                    <td>{{ data.prev_prev_prev_quarter.sum_dl }}</td>
                </tr>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам поставки (ДКП)</th>
                    <td>{{ data.prev_quarter.sum_dkp }}</td>
                    <td>{{ data.prev_prev_quarter.sum_dkp }}</td>
                    <td>{{ data.prev_prev_prev_quarter.sum_dkp }}</td>
                </tr>
                <tr>
                    <th scope="row">Количество новых договоров</th>
                    <td>{{ data.prev_quarter.count_new_contracts }}</td>
                    <td>{{ data.prev_prev_quarter.count_new_contracts }}</td>
                    <td>{{ data.prev_prev_prev_quarter.count_new_contracts }}</td>
                </tr>
                <tr>
                    <th scope="row">Авансы лизингополучателей</th>
                    <td>{{ data.prev_quarter.advances }}</td>
                    <td>{{ data.prev_prev_quarter.advances }}</td>
                    <td>{{ data.prev_prev_prev_quarter.advances }}</td>
                </tr>
                <tr>
                    <th scope="row">Кредиты банков</th>
                    <td>{{ data.prev_quarter.credit }}</td>
                    <td>{{ data.prev_prev_quarter.credit }}</td>
                    <td>{{ data.prev_prev_prev_quarter.credit }}</td>
                </tr>
                <tr>
                    <th scope="row">Соофинансирование ООО "ЛКМБ-РТ"</th>
                    <td>{{ data.prev_quarter.co_finance }}</td>
                    <td>{{ data.prev_prev_quarter.co_finance }}</td>
                    <td>{{ data.prev_prev_prev_quarter.co_finance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Показатели ООО "ЛКМБ-РТ"</th>
                    <th scope="col" id="currentYear"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам лизинга (ДЛ)</th>
                    <td>{{ data.year.sum_dl }}</td>
                </tr>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам поставки (ДКП)</th>
                    <td>{{ data.year.sum_dkp }}</td>
                </tr>
                <tr>
                    <th scope="row">Количество новых договоров</th>
                    <td>{{ data.year.count_new_contracts }}</td>
                </tr>
                <tr>
                    <th scope="row">Авансы лизингополучателей</th>
                    <td>{{ data.year.advances }}</td>
                </tr>
                <tr>
                    <th scope="row">Кредиты банков</th>
                    <td>{{ data.year.credit }}</td>
                </tr>
                <tr>
                    <th scope="row">Соофинансирование ООО "ЛКМБ-РТ"</th>
                    <td>{{ data.year.co_finance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" id="prevYearDL"></th>
                    <th scope="col" id="lastYearDL"></th>
                    <th scope="col" id="twoYearsAgoDL"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам лизинга (ДЛ)</th>
                    <td>{{ data.prev_year.sum_dl }}</td>
                    <td>{{ data.prev_prev_year.sum_dl }}</td>
                    <td>{{ data.prev_prev_prev_year.sum_dl }}</td>
                </tr>
                <tr>
                    <th scope="row">Сумма нового бизнеса по договорам поставки (ДКП)</th>
                    <td>{{ data.prev_year.sum_dkp }}</td>
                    <td>{{ data.prev_prev_year.sum_dkp }}</td>
                    <td>{{ data.prev_prev_prev_year.sum_dkp }}</td>
                </tr>
                <tr>
                    <th scope="row">Количество новых договоров</th>
                    <td>{{ data.prev_year.count_new_contracts }}</td>
                    <td>{{ data.prev_prev_year.count_new_contracts }}</td>
                    <td>{{ data.prev_prev_prev_year.count_new_contracts }}</td>
                </tr>
                <tr>
                    <th scope="row">Авансы лизингополучателей</th>
                    <td>{{ data.prev_year.advances }}</td>
                    <td>{{ data.prev_prev_year.advances }}</td>
                    <td>{{ data.prev_prev_prev_year.advances }}</td>
                </tr>
                <tr>
                    <th scope="row">Кредиты банков</th>
                    <td>{{ data.prev_year.credit }}</td>
                    <td>{{ data.prev_prev_year.credit }}</td>
                    <td>{{ data.prev_prev_prev_year.credit }}</td>
                </tr>
                <tr>
                    <th scope="row">Соофинансирование ООО "ЛКМБ-РТ"</th>
                    <td>{{ data.prev_year.co_finance }}</td>
                    <td>{{ data.prev_prev_year.co_finance }}</td>
                    <td>{{ data.prev_prev_prev_year.co_finance }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    // Получаем текущую дату
    const currentDate = new Date();
    // Получаем номер текущего месяца (от 0 до 11)
    const prevMonth = currentDate.getMonth();
    // Получаем текущий год
    const prevYear = currentDate.getFullYear();

    // Получаем названия месяцев
    const monthNames = [
        "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
        "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
    ];

    // Заполняем заголовки таблицы для месяцев (предыдущий месяц)
    document.getElementById('prevMonth').textContent = `${monthNames[prevMonth - 1]} ${prevYear}`;
    document.getElementById('lastYearMonth').textContent = `${monthNames[prevMonth - 1]} ${prevYear - 1}`;
    document.getElementById('twoYearsAgoMonth').textContent = `${monthNames[prevMonth - 1]} ${prevYear - 2}`;

    // Заполняем заголовки таблицы для месяцев (текущий месяц)
    document.getElementById('currentMonth').textContent = `${monthNames[prevMonth]} ${prevYear}`;

    // Заполняем заголовки таблицы для кварталов
    const prevQuarter = Math.floor(prevMonth / 3) + 1;
    document.getElementById('prevQuarterDL').textContent = `${(prevQuarter - 1 === 0) ? 4 : (prevQuarter - 1)} квартал ${(prevQuarter - 1 === 0) ? (prevYear - 1) : prevYear - 1}`;
    document.getElementById('lastYearQuarterDL').textContent = `${(prevQuarter - 1 === 0) ? 4 : (prevQuarter - 1)} квартал ${(prevQuarter - 1 === 0) ? (prevYear - 2) : prevYear - 2}`;
    document.getElementById('twoYearsAgoQuarterDL').textContent = `${(prevQuarter - 1 === 0) ? 4 : (prevQuarter - 1)} квартал ${(prevQuarter - 1 === 0) ? (prevYear - 3) : prevYear - 3}`;

// Заполняем заголовки таблицы для кварталов
    document.getElementById('currentQuarter').textContent = `${prevQuarter} квартал ${prevYear}`;

    // Заполняем заголовки таблицы для годов
    document.getElementById('currentYear').textContent = `${prevYear} год`;
    document.getElementById('prevYearDL').textContent = `${prevYear - 1} год`;
    document.getElementById('lastYearDL').textContent = `${prevYear - 2} год`;
    document.getElementById('twoYearsAgoDL').textContent = `${prevYear - 3} год`;

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}
</body>
</html>
