<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('payment.list_of_all_payments') }}">
            <img src="../static/images/logo.png" alt="logo" width="30" height="30"
                 class="d-inline-block align-text-top" id="logo">
            ЛКМБ-РТ
        </a>
        <script>
            var logo = document.getElementById("logo");
            var scaleFactor = 1.2; // Масштабный коэффициент для увеличения размера

            logo.addEventListener("mouseenter", function() {
              logo.style.transition = "transform 0.4s";
              logo.style.transform = "scale(" + scaleFactor + ")";
            });

            logo.addEventListener("mouseleave", function() {
              logo.style.transition = "transform 0.4s";
              logo.style.transform = "scale(1)";
});

        </script>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('payment.create_payment') }}">Загрузка
                        графиков</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Информация по кредитам
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('payment.list_of_all_payments') }}">Общая
                            таблица</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('payment.list_of_daily_payments') }}">Мониторинг
                            платежей</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Информация по пользователям
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user.list_of_users') }}">Список пользователей</a>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('user.create_user') }}">Добавление нового
                            пользователя</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Программы
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('risk.risk_page') }}">Риск заключение</a>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('manager.managers_page') }}">Создание договоров</a>
                        </li>
                    </ul>
                </li>
                {% elif current_user.is_manager%}
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Программы
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('manager.managers_page') }}">Создание договоров</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Информация по кредитам
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('payment.list_of_all_payments') }}">Общая
                            таблица</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('payment.list_of_daily_payments') }}">Мониторинг
                            платежей</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Программы
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('risk.risk_page') }}">Риск заключение</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.exit_user') }}">Выход <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
