<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('payment.list_of_all_payments') }}">
            <img src="../static/images/logo.jpg" alt="logo" width="30" height="30"
                 class="d-inline-block align-text-top" id="logo">
            ЛКМБ-РТ
        </a>
        <script>
              var logo = document.getElementById("logo");
              var scaleFactor = 1.2; // Масштабный коэффициент для увеличения размера

              logo.addEventListener("mouseenter", function() {
                logo.style.transition = "transform 0.4s";
                logo.style.transform = "scale(" + scaleFactor + ")";
              });

              logo.addEventListener("mouseleave", function() {
                logo.style.transition = "transform 0.4s";
                logo.style.transform = "scale(1)";
  });
        </script>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('payment.create_payment') }}">Загрузка
                        графиков</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Информация по кредитам
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('payment.list_of_all_payments') }}">Общая
                            таблица</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('payment.list_of_daily_payments') }}">Мониторинг
                            платежей</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Информация по пользователям
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user.list_of_users') }}">Список пользователей</a>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('user.create_user') }}">Добавление нового
                            пользователя</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.exit_user') }}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
