<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX5FDFY5F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KQX5FDFY5F');

    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создание риск заключения</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        .loading-spinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid #FFFFFF;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        z-index: 100;
        display: none;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>
</head>
<body style="background-color:#85c1df;">
{% include 'menu.html' %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<div class="container">
    <div class="row">
        <div class="col-md-3 offset-md-0"><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            <div class="card card-body">
                <form action="{{ url_for('risk.create_xlsx') }}" method="POST">
                    <div class="form-group">
                        <label>ИНН лизингополучателя</label>
                        <input type="text" name="client_inn" value="" class="form-control" required>
                    </div>
                    <div class="form-group"><br>
                        <label>ИНН поставщика</label>
                        <input type="text" name="seller_inn" value=""
                               class="form-control" required>
                    </div>
                    <div class="form-group"><br>
                        <button type="submit" class="btn btn-primary btn-block">
                            Проверка юр. лица
                        </button>
                    </div>
                    <!-- HTML для анимации загрузки -->
                    <div class="loading-spinner"></div>

                    <!-- JS-код для отображения анимации загрузки перед отправкой формы -->
                    <script>
                        document.getElementById("submit-button").addEventListener("click", function() {
                            document.querySelector(".loading-spinner").style.display = "block"; // Показать анимацию загрузки
                        });
                    </script>
                </form>
            </div>
        </div>
        <div class="col-md-8"><br>
            <!-- Окошко со списком файлов и ссылками на их скачивание -->
            <div class="card card-body">
                <h3>Список файлов</h3>
                <ul>
                    {% for filename in filenames %}
                    <li><a href="{{ url_for('risk.download', file_name=filename) }}">{{ filename }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% include 'footer.html' %}

</body>
</html>