#loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 240, 240, 0.5);
    padding: 100%;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

#loading-indicator .loader {
    border: 8px solid #3498db; /* Цвет круга */
    border-top: 8px solid #f1c40f; /* Цвет круга при анимации */
    border-radius: 50%;
    width: 70px; /* Размер круга */
    height: 70px; /* Размер круга */
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

#loading-indicator p {
    font-size: 20px; /* Размер текста */
    color: #333; /* Цвет текста */
    margin: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
