/* Овальный input */
.form-control {
    border: none; /* Удалить границу */
    border-radius: 50px; /* Закругленные углы для создания овальной формы */
    padding: 8px 12px; /* Внутренний отступ */
    width: 100%; /* Заполнить доступное пространство */
    background-color: rgba(255, 255, 255, 0.4); /* Немного прозрачный белый фон */
}

/* Отступ между input и соседними элементами */
.input-group {
    margin-bottom: 15px;
}

/* Стили для input при фокусе (когда на него кликают) */
.form-control:focus {
    outline: none; /* Убрать синее подчеркивание */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7); /* Тень вокруг input при фокусе */
}
