/* Стилизация таблицы */
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Заголовки таблицы */
.table thead th {
  border-bottom: 2px solid #ADD8E6;
}

/* Строки таблицы */
.table tbody tr {
  transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

/* Наведение на строки */
.table tbody tr:hover {
  background-color: #E6F1FF;
  filter: brightness(95%) saturate(120%);
}


